<p>
I have a theory that as the interaction between humans grows more complex, the lessening of human effort empowered by automation is coupled with the increasing effort it takes to coordinate behavior among large systems. 
</p><p>
I have 2 library books that are overdue. I don’t know if I should return them to my local branch, or the main branch where I checked them out. I can just look this up on the internet, probably. In the past I would have called the local branch, or gone there in person to see if I could return my books. I’m guessing that as the library usage grew or as additional complexity shrank the time or energy librarians could devote to fielding requests like this, the information being available on the internet instead of the librarian having to spend time answering calls actually helped the librarians provide better service or decreased the workload they had to shoulder each day. 
</p><p>
I believe this natural automation grows out of the increased complexity, because as social systems grow more complex there are more and more individuals left stranded on the fringes without social support. This results in more individuals that, without social support, need to create an ecosystem for themselves, hence electronic communication and networking/computers that have arisen over the past 60 years. The automation can also manifest itself in terms of increased value to society/commerce, e.g. machine learning systems that serve targeted ads to individuals, or that provide more detailed analytics about content and products that can feed back into future decisions. Whether it takes the form of a website or a personalized recommendation, these automations can then be redistributed across the rest of the population. 
</p><p>
World population is increasing, so interaction is naturally becoming more complex. 
decentralization? Regionalism? Automation? 
</p>


