<article id="20200421-informationbasedeconomy">
  <h2>Information-based Economy</h2>
  <h3>26 April 2021</h3>
  <p>
    One thought that has been percolating in my head for a little bit of time is 
    in the future, the economy will have two halves: internet-based infrastructure,
    and everything that infrastructure facilitates. People will either be able to 
    make their living doing either 1) supporting and expanding the infrastructure,
    or 2) utilizing the infrastructure. I believe the economy is trending in this
    direction, towards a future where most of that infrastructure is facilited by 
    computers. Computers are a specialized enough domain where, currently, the gulf
    between the knowledge needed to program a computer vs. the knowledge needed to 
    use a computer is sufficiently wide so that there is a stark contrast between 
    computer-based forms of infrastructure and others. 
  </p>
  <p>
    There will be enough surplus in the infrastructure providers that they will be
    able to employ many people, each responsible for a small specific subset of that
    infrastructure.
  </p>
  <p>
    Due to the speed and efficiency of transmitting information over the internet, 
    it will eventually replace other forms of infrastructure for a particular good,
    especially if the good does not have some intrinsic quality that means it must
    be consumed in the physical realm. For goods that are able to be completely 
    digitized, and where the demand for that good is able to be shifted completely 
    over to the digitized version, the entire exchange of that good will happen 
    over the internet.
  </p>
  <p>
    For physical goods, there has to be a separate physical system alongside the 
    internet infrastructure, namely shipping and logistics, and the size of the 
    physical infrastructure will depend on the demand for physical goods by the consumer. 
  </p>
  <footer>
    <a href="/thoughts/informationbasedeconomy">comments</a>
    <a href="/thoughts/informationbasedeconomy#reply">leave a comment</a>
    <aside class="tags">tagged: #internet, #economy</aside>
  </footer>
</article>
