#content {
  width: unset;
  max-width: unset; 
}

#new-yorkk > * {
  --size: min(300px, 100%); 
  width: var(--size); 
  height: 0; 
  padding-top: var(--size);
  border-radius: var(--size);
  border: 1px solid black;
  color: black; 
  text-align: center; 
  line-height: var(--size); 
  position: relative;
  box-sizing: border-box;
}

.translate-up {
  transform: translateY(-150px);
}

#v {
  display: none;
}

#v > * {
  border-bottom: 1px dashed black;
  width: 50%; 
}

#v > :first-child {
  transform: rotate(45deg);
  transform-origin: right;
}

#v > :last-child {
  transform: rotate(-45deg);
  transform-origin: left; 
}

.spacer {
  display: flex; 
  flex-flow: row nowrap;
}

.spacer > :first-child, .spacer > :last-child {
  width: 50%; 
  height: 20px; 
}

.spacer > :first-child {
  border-right: 1px solid black;
}

#new-york {
  display: grid; 
  grid-template-rows: 75px 300px 50px 375px;
  grid-template-columns: 750px 50px 200px 30px 60px;
}

#new-york > * {
  border: 1px solid black; 
  padding: auto;
}

#janestreet {
  grid-area: 1 / 1 / 5 / 3;
}

#nyu {
  grid-area: 2 / 2 / 3 / 4;
}

#waxxfm {
  grid-row: 2 / 4; 
  grid-column: 5 / 6; 
}
