a.hidden:link, a.hidden:visited {
  text-decoration: none; 
  color: var(--font-color);
}

.black {
  color: black;
}

.gray {
  color: gray;
}

.x-small {
  font-size: x-small;
} 

.small {
  font-size: small;
} 

.bold {
  font-weight: 700; 
}

.border {
  padding: 1em;
  border: 1px solid;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.relative {
  position: relative;
}

.unset-color {
  color: unset;
}

body {
  --font-color: #175715; 
  color: var(--font-color);
  font-family: sans-serif; 
  --background-color: #c6dfbc;
  background-color: var(--background-color);
}

#content {
  max-width: 800px;
  margin: 2rem auto;
}

img {
  margin: auto; 
  max-width: 100%;
  display: block; 
}

nav {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

nav > * {
  color: var(--font-color);
  margin: 1em; 
}

footer {
  margin-bottom: 2em;
}

