button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

.black {
  color: black;
}

.border {
  padding: 1em;
  border: 1px solid;
}

body {
  --font-color: #175715; 
  color: var(--font-color);
  font-family: sans-serif; 
  background-color: #c6dfbc;
}

#content {
  max-width: 800px;
  margin: 2rem auto;
}

img {
  max-width: 100%;
  display: block; 
  margin: auto; 
}

nav {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

nav > * {
  color: var(--font-color);
  margin: 1em; 
}

.tags {
  color: gray;
}

.x-small {
  font-size: x-small;
} 

#reply > div {
  margin-bottom: 15px; 
}

textarea.comment {
  width: 450px;
  height: 300px;   
}
