#sidebar {
  min-width: 170px;
  position: absolute;
  left: 100%;
  top: 0;
  margin-left: 20px;
}

#sidebar > *:not(#tag-selector) {
  margin-top: 3em;
}

#tag-selector {
  padding: 1em;
  background: #eee;
  border-radius: 1em;
}

@media screen and (max-width: 1250px) {
  #sidebar {
    display: none;
  }
}

.tag-box {
  border: 2px solid black; 
  padding: .5em; 
  display: flex; 
  flex-flow: column wrap; 
  align-items: flex-start;
  min-height: 2em;
}

.tag {
  border-radius: .7em; 
  font-size: 12px; 
  font-style: italic;
  padding: 2px .7em 4px .5em;
  margin: 2px;
  background: lightgray;
  opacity: 0.7;
  border: 1px solid darkgray;
}

.tag:hover {
  opacity: 1; 
}

article.thought {
  margin: 3rem auto; 
}

article.thought > section {
  overflow: hidden;
  text-overflow: "word";
}

article.thought:first-child {
  margin-top: 0; 
}

article.thought > footer {
  display: flex; 
  flex-flow: row wrap;
}

article.thought > footer > a:not(.tag) {
  margin-right: 6px; 
}

.indent {
  padding-left: 15px;
  border-left: 1px solid;
}

#comments > * {
  margin-top: 15px; 
  margin-bottom: 15px; 
}

#reply > div {
  margin-bottom: 15px; 
}

textarea.comment {
  width: min(450px, 100%);
  height: 300px;   
}

