<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
    <link rel="stylesheet" href="/static/style.css" type="text/css" />
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% endblock %}
</head>
<body>
    <script>0</script>
    {% include 'nav.html' %}
    <div id="content">{% block content %}{% endblock %}</div>
    <hr>
    <footer class="align-right">
      <p><u>contact me</u></p> 
      <p>instagram: @justinmoorehi57</p>
      <p>email: justin at do-ok.net</p>
    </footer>
</body>
</html>
