{% extends "base.html.jinja" %}
{% block title %}{{ post.name }}{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/thought-styles.css" type="text/css" />
<script src="https://hcaptcha.com/1/api.js" async defer></script>
{% endblock %}
{% block content %}
  <h2>{{ post['name'] }}</h2>
  <h3>{{ post['date'].strftime('%d %B %Y') }}</h3>
  {% set post_template = 'thoughts/' + post.url + '.html.jinja' %}
  {% include post_template %}
  <footer>
    {% if post.tags != [] %}
    <aside class="gray">tagged: {{ ', '.join(post.tags) }}</aside>
    {% endif %}
    <a href="/thoughts/{{ post['url'] }}#reply">leave a comment</a>
  </footer>
  <section id="comments" class="indent">
  {% for comment in comments %}
    <div class="comment">
      <p class="small">
        {% if comment.name != "" %}
        <span class="x-small bold">{{ comment.name }} wrote:</span>
	{% endif %}
        <span class="comment-body">{{ comment.text }}</span>
      </p>
      <footer class="x-small gray">posted on {{ comment.posted_on }} UTC-4 or 5</footer>
    </div>
  {% endfor %}
  </section>
  <section>
    <form id=reply action="/thoughts/{{ post.url }}#reply" method="post">
      <div>
        <div class="x-small">your name (optional):</div>
        {% if captcha_verification_failed %}
          <input type="text" placeholder="no robots" name="name" class="name" value="{{ user_name }}" />
        {% else %}
          <input type="text" placeholder="no robots" name="name" class="name" />
        {% endif %}
      </div>
      <div>
        <div class="x-small">your comment:</div>
        {% if captcha_verification_failed %}
        <textarea type="text" name="comment" class="comment">{{ user_comment_draft }}</textarea>
	{% else %}
        <textarea type="text" name="comment" class="comment"></textarea>
        {% endif %}
      </div>
      <div class="h-captcha" data-sitekey="0b5339fc-4428-4b84-9eb0-e9079858f111"></div>
      {% if captcha_verification_failed %}
        <div class="x-small red">Captcha verification failed.</div> 
      {% else %}
        <div class="x-small">Comment posted successfully!</div> 
      {% endif %}
      <input type=submit value="post comment"> 
    </form>
  </section>
{% endblock %}
