{% extends "base.html" %}
{% block title %}{{ post.name }}{% endblock %}
{% block content %}
  <h2>{{ post['name'] }}</h2>
  <h3>{{ post['date'].strftime('%d %B %Y') }}</h3>
  {% set post_template = 'thoughts/' + post.url + '.html' %}
  {% include post_template %}
  <footer>
    {% if post.tags != [] %}
    <aside class="gray">tagged: {{ ', '.join(post.tags) }}</aside>
    {% endif %}
    <a href="/thoughts/{{ post['url'] }}#reply">leave a comment</a>
  </footer>
  <section id="comments" class="indent">
  {% for comment in comments %}
    <div class="comment">
      <p class="small">
        {% if comment.name != "" %}
        <span class="x-small bold">{{ comment.name }} wrote:</span>
	{% endif %}
        {{ comment.text }}
      </p>
      <footer class="x-small gray">posted on {{ comment.posted_on }} UTC-4 or 5</footer>
    </div>
  {% endfor %}
  </section>
  <section>
    <form id=reply action="/thoughts/{{ post.url }}#reply" method="post">
      <div>
        <div class="x-small">your name (optional):</div>
        <input type="text" placeholder="no robots" name="name" class="name" />
      </div>
      <div>
        <div class="x-small">your comment:</div>
        <textarea type="text" name="comment" class="comment"></textarea>
      </div>
      <input type=submit value="post comment"> 
    </form>
  </section>
{% endblock %}
