{% extends "base.html.jinja" %}
{% block title %}Justin's Home Page{% endblock %}
{% block content %}
<hr><br>
    <h3 class="align-center black">Hi there! I'm Justin. Welcome to my home page.</h3>
    <br><br>
    <!-- photo credit: taylor brophy https://www.taylorbrophy.com @taybrophy on Instagram -->
    <img alt="picture of justin" src="/static/snocones-large.png" />
    <br>
    <p>
      This picture was taken in front of Pelican's Snocones in West Columbia, 
      South Carolina. I had just turned 25. I'm wearing my grandpa's cap 
      and a long sleeve T-shirt I got at my old job.
    </p>
    <p>
      This page contains some things I'd like to show to the world. Please 
      explore to your heart's content! If you'd like to talk to me, please 
      see the information below.
    </p>
{% endblock %}
