{% extends "base.html" %}
{% block title %}Justin's Home Page{% endblock %}
{% block content %}
    <p>Hi there! I'm Justin. Welcome to my home page.</p>
    <img alt="picture of justin" src="/static/pelicans_snocones.png" />
    <p>
      This picture was taken in front of Pelican's Snocones in West Columbia, 
      South Carolina. I had just turned 26. I'm wearing my grandpa's cap 
      and a long sleeve T-shirt I got at my old job.
    </p>
    <p>
      This page contains some things I'd like to show to the world. Please 
      explore to your heart's content! If you'd like to talk to me, please 
      use the "Contact" section of this webpage.
    </p>
{% endblock %}
