{% extends "base.html" %}
{% block title %}Projects{% endblock %}
{% block content %}
    <h2 class=black id="icartists">i/c artists' Agency Website</h2>
    <img alt="screenshot of i/c artists webpage" src="/static/icartists-screenshot.png" />
    <p class="border">I set up the web presence for an electronic music agency in Brooklyn, NY, <a href="https://icartists.net">i/c artists</a>. Created a browser-rendered website with a CMS backend for the agency's director, Sam. Website design by Nick Concklin.</p>
{% endblock %}
