{% macro render_tag(tag_name) -%}
<a href="?tags={{ tag_name }}" class="hidden tag" draggable="true">
  <span class="black">#{{ tag_name }}</span>
</a>
{% endmacro %}
{% extends "base.html" %}
{% block title %}Justin's Thoughts{% endblock %}
{% block content %}
<h1 class="align-right">Justin's Thoughts</h1>
<div class="relative">
  {% for key in posts %}
  <article class="thought">
    {% set post = posts[key] %}
    <h2>{{ post['name'] }}</h2>
    <h3>{{ post['date'].strftime('%d %B %Y') }}</h3>
    {% set post_template = 'thoughts/' + post.url + '.html' %}
    {% include post_template %}
    <footer>
      {% if post.ncomments == 1 %}
      <a href="/thoughts/{{ post['url'] }}">{{ post.ncomments }} comment</a>
      {% elif post.ncomments > 0 %}
      <a href="/thoughts/{{ post['url'] }}">{{ post.ncomments }} comments</a>
      {% endif %}
      <a href="/thoughts/{{ post['url'] }}#reply">leave a comment</a>
      {% for tagname in post.tags %}
      {{ render_tag(tagname) }}
      {% endfor %}
    </footer>
  </article>
  {% endfor %}
  <div id="sidebar">
    <script src="static/interactivetags.js"></script>
    <span class="black small">Selected tags:</span>
    <div id="activetags" class="tag-box dropzone">
      {% for tagname in request_tags %}
      {{ render_tag(tagname) }}
      {% endfor %}
    </div>
    <span class="black small">Available tags:</span>
    <div class="tag-box dropzone">
      {% for tagname in tags %}
      {{ render_tag(tagname) }}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
