{% extends "base.html" %}
{% block title %}Justin's Thoughts{% endblock %}
{% block content %}
<h1 class="align-right">Justin's Thoughts</h1>
<div>
{% for key in posts %}
<article class="thought">
  {% set post = posts[key] %}
  <h2>{{ post['name'] }}</h2>
  <h3>{{ post['date'].strftime('%d %B %Y') }}</h3>
  {% set post_template = 'thoughts/' + post.url + '.html' %}
  {% include post_template %}
  <footer>
    {% if post.tags != [] %}
    <aside class="gray">tagged: {{ ', '.join(post.tags) }}</aside>
    {% endif %}
    {% if post.ncomments == 1 %}
    <a href="/thoughts/{{ post['url'] }}">{{ post.ncomments }} comment</a>
    {% elif post.ncomments > 0 %}
    <a href="/thoughts/{{ post['url'] }}">{{ post.ncomments }} comments</a>
    {% endif %}
    <a href="/thoughts/{{ post['url'] }}#reply">leave a comment</a>
  </footer>
</article>
{% endfor %}
</div>
{% endblock %}
