{% macro render_tag(tag_name, is_draggable) -%}
<a href="?tags={{ tag_name }}" class="hidden tag" draggable="{{ is_draggable }}">
  <span class="black">#{{ tag_name }}</span>
</a>
{% endmacro %}
{% extends "base.html" %}
{% block title %}Justin's Thoughts{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/thought-styles.css" type="text/css" />
{% endblock %}
{% block content %}
<a href="/thoughts" class="hidden">
  <h1 class="align-right" id="title">Justin's Thoughts</h1>
</a>
<div id="posts" class="relative">
  {% for post in posts %}
  <article class="thought">
    <section>
    <h2>{{ post['name'] }}
      {% for tagname in post.tags %}
      {{ render_tag(tagname, "false") }}
      {% endfor %}
    </h2>
    <h3>{{ post['date'].strftime('%d %B %Y') }}</h3>
    {% set post_template = 'thoughts/' + post.url + '.html' %}
    {% include post_template %}
    </section>
    <footer>
      <a href="/thoughts/{{ post['url'] }}">view</a>
      {% if post.ncomments > 0 %}
      <a href="/thoughts/{{ post['url'] }}#reply">leave a comment ({{ post.ncomments }})</a>
      {% else %}
      <a href="/thoughts/{{ post['url'] }}#reply">leave a comment</a>
      {% endif %}
    </footer>
  </article>
  {% endfor %}
  <nav id="post-navigation">
    {% if tags_query == None %}
      {% if page > 1 %}
      <a class="unset-color" href="/thoughts/{{ page - 1 }}">newer</a>
      {% endif %}
      {% if page < total_pages %}
      <a class="unset-color" href="/thoughts/{{ page + 1 }}">older</a>
      {% endif %}
    {% else %}
      {% if page > 1 %}
      <a class="unset-color" href="/thoughts/{{ page - 1 }}?tags={{ tags_query }}">newer</a>
      {% endif %}
      {% if page < total_pages %}
      <a class="unset-color" href="/thoughts/{{ page + 1 }}?tags={{ tags_query }}">older</a>
      {% endif %}
    {% endif %}
  </nav>
  <a class="align-right" href="/thoughts/archive">archive</a>

  <div id="sidebar">
    <div id="tag-selector">
      <script src="/static/interactivetags.js"></script>
      <span class="black small">Selected tags:</span>
      <div id="activetags" class="tag-box dropzone">
	{% for tagname in request_tags %}
	{{ render_tag(tagname, "true") }}
	{% endfor %}
      </div>
      <span class="black small">Available tags:</span>
      <div id="othertags" class="tag-box dropzone">
	{% for tagname in tags %}
	{{ render_tag(tagname, "true") }}
	{% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
